.App {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

h3,h2 {
  border-bottom: 4px solid rosybrown;
  width: 30%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

ul.nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid coral;
  padding-bottom: 5px;
}

ul.books {
  line-height: 35px;
}